/*
  iPhoneUI.css
  
  Base styles for iPhone Web applications, based on Apple's
  recommended user interface styles.
  
  http://developer.apple.com/iphone/designingcontent.html
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.edgeToEdge {
  background-color: #fff;
  border-spacing: 0;
  border-width: 0;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

legend {
  color: #330;
  background-color: #ccc;
  border-bottom: thin solid white;
}

.edgeToEdge.formButtons {
  margin: 0;
  padding: 10px;
}

.edgeToEdge {
  font-weight: normal;
}

.edgeToEdge.formFields textarea {
  clear: left;
  display: block;
  width: 296px;
}

.edgeToEdge.formFields .checkbox input{
  height:20px;
}

#setup legend{
  width:100%;
  font-size: 18px;
  padding: 10px 5px;
}

dl.edgeToEdge.formFields dd {
  border-bottom: 1px solid rgb(217,217,217);
  padding: 10px;
  margin: 0;
  text-align: right;
}

dl.edgeToEdge.formFields dd.last {
  border-bottom-width: 0;
}

dl.edgeToEdge.formFields dt {
  clear: left;
  float: left;
  padding: 10px 10px 0 10px;
  margin: 0;
}

p.edgeToEdgeLast {
  border-bottom-width: 0;
}

form {
  margin: 0;
}

.formButtons {
  text-align: right;
}

.footer {color: #AAA; font-size: 11px; margin: 0 0 15px 0; width: 100%; text-align: center;}